
<script setup>
import { ref } from 'vue';


const mkWindow = ref(false);
const markdown = ref("Title | Title | Title | Title | Title | Title\n--- | --- | --- | --- | --- | ---\n  Cell | Cell | Cell | Cell | Cell | Cell\nCell | Cell | Cell | Cell | Cell | Cell\nCell | Cell | Cell | Cell | Cell | Cell\nCell | Cell | Cell | Cell | Cell | Cell\nCell | Cell | Cell | Cell | Cell | Cell");
const data = ref([]);
const selectRow = ref(0);
const selectCol = ref(0);

function loadTable() {
  mkWindow.value = false;
  const lines = markdown.value.split('\n');
  data.value = lines.map((line, rowIndex) => {
    if (rowIndex > 0) {
      // Supprimer les barres verticales au début et à la fin de chaque ligne
      line = line.replace(/^\s*\|/, '').replace(/\|\s*$/, '');
    }
    const cells = line.split('|').map(cell => ({
      value: cell.trim(),
      edit: false
    }));
    return cells;
  });
}


function updateMarkdown() {
  const lines = data.value.map((row, rowIndex) => {
    const line = row.map(cell => cell.value).join(' | ');
    return rowIndex === 0 ? line : `| ${line} |`;
  });
  markdown.value = lines.join('\n');
}


function showMkWindow() {
  updateMarkdown()
  mkWindow.value = !mkWindow.value;
}

function addNewRow(rowIndex) {
  let newRow = new Array(data.value[0].length).fill({ value: "", edit: false });
  data.value.splice(rowIndex + 1, 0, newRow);
}

function removeRow(rowIndex) {
  data.value.splice(rowIndex, 1);
}

function addNewColumn(colIndex) {
  data.value.forEach((row, index) => {
    const cell = {
      value: (index === 0) ? 'Title' : (index === 1) ? '---' : '',
      edit: false
    };
    row.splice(colIndex + 1, 0, cell);
  });
}

function removeColumn(columnIndex) {
  data.value.forEach(row => {
    row.splice(columnIndex, 1);
  });
}

function activateAndSelectCell(cell, rowIndex, cellIndex) {
  // Sélection de la cellule (logique de selectCell)
  selectRow.value = rowIndex;
  selectCol.value = cellIndex;

  // Activer l'édition de la cellule (logique de activateEdit)
  // D'abord, désactivez toutes les cellules
  data.value.forEach(row => {
    row.forEach(c => {
      c.edit = false;
    });
  });

  // Ensuite, activez la cellule cliquée
  cell.edit = true;
}



loadTable();
</script>


<template>
  <div class="page" >
    <div class="table" >
      <nav>
        <button @click="showMkWindow()" > Import or Export to Markdown</button>
        <div class="select">
          <div class="selectCell">
            <p>{{ selectCol }}:{{ selectRow - 1 }}</p>
          </div>
          <input class="selectCont" type="text" v-model="data[selectRow][selectCol].value" >
        </div>
      </nav>
      <table>
          <tr v-for="(row, rowIndex) in data" :key="rowIndex">
            <div class="btnRowTop" v-if="rowIndex === 1">
              <button @click="addNewRow(1)">+</button>
            </div>
            <div class="leftDash" v-if="rowIndex >= 2">
              <div class="num">
                <p>{{ rowIndex - 1 }}</p>
              </div>
              <div class="btnRow">
                <button @click="removeRow(rowIndex)">-</button>
                <button @click="addNewRow(rowIndex)">+</button>
              </div>
            </div>
            <p v-else></p>
            <td v-for="(cell, cellIndex) in row" :key="cellIndex">
              <div class="btnCol">
                <button v-if="rowIndex == 0" @click="removeColumn(cellIndex)">-</button>
                <button v-if="rowIndex == 0" @click="addNewColumn(cellIndex)">+</button>
              </div>
              <div @click="activateAndSelectCell(cell, rowIndex, cellIndex)">
                <div class="cell" v-show="!cell.edit">{{ cell.value }}</div>
                <textarea v-show="cell.edit" rows="5" cols="33" v-model="cell.value" />
              </div>

            </td>
          </tr>
      </table>
      
    </div>
    
    <div class="codeModal" v-show="mkWindow" >
      <textarea class="code" rows="25" cols="100" v-model="markdown" />
      <div class="dash" >
        <button @click="loadTable">Convert this code to array</button>
      </div>
    </div>
    
    
  </div>
</template>

<style>
nav {
  display: flex;
  margin: 0 5px 5px 90px;
}
.page {
  min-width: 100vh;
  display: flex;
  flex-direction: row;
}
.codeModal {
  position: fixed;
  top: 0; bottom: 0; left: 0; right: 0;
  background: rgba(0, 0, 0, 0.613);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.code {
  min-height: 80vh;
}

.dash button {
  margin: 1em .1em;
}
.dash {
  display: flex;
  
}
.leftDash, .num {
  min-height: 105px;
}
.leftDash{
  display: flex;
  justify-content: center;
}
.num {
  display: flex;
  align-items: center;
  padding: 0 .5em;
}
.btnRow {
  display: flex;
  flex-direction: column;
}
.btnRow button {
  /* display: flex;
  flex-direction: column; */
  height: 100%;
}
.btnRow p {
  margin: 0;
}
.btnRowTop {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 90px;
}

.btnCol {
  width: 100%;
  display: flex;
}
.btnCol button {
  width: 100%;
}
.cell{
  width: 282px;
  height: 103px;
  background: #2b2a33;
  border: solid 1px;
}
.select {
  cursor: text;
  display: flex;
  border: solid 2px;
}
.select, .select .selectCont {
  width: 100%;
}
.selectCell {
  margin: 0 1em;
}


</style>