<script setup>
import Table from './components/Table.vue'
</script>

<template>
  <!-- <div>
    <h1>Markdown 2 Table</h1>
  </div> -->
  <Table msg="Vite + Vue" />
</template>

<style scoped>
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vue:hover {
  filter: drop-shadow(0 0 2em #42b883aa);
}
</style>
